<h1 align=center><font size = 5>Get Data From Wikipedia</font></h1>

Before we get the data and start exploring it, let's download all the dependencies that we will need.

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

<a id='item1'></a>

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
table = pd.read_html(url)

In [5]:
df = pd.DataFrame(table[0])
df.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [6]:
df.shape

(287, 3)

In [7]:
# Clean the data
df1 = df[df.Borough != 'Not assigned']
df1 = df1.sort_values(by=['Postcode','Borough'])

df1.reset_index(inplace=True)
df1.drop('index',axis=1,inplace=True)

df1.head()

  Postcode      Borough    Neighborhood
0      M1B  Scarborough           Rouge
1      M1B  Scarborough         Malvern
2      M1C  Scarborough  Highland Creek
3      M1C  Scarborough      Rouge Hill
4      M1C  Scarborough      Port Union

In [14]:
df1.shape

(210, 3)

In [20]:
df2 = df1.groupby(['Postcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()

In [21]:
df2.shape

(103, 3)

In [23]:
df2.head()

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [24]:
for n in range(0,df2.shape[0]): #iterate rows
    if df2.iloc[n,2]=='Not assigned': #check if not assigned on Neighborhood
        print('Before ',df2.iloc[n,2],'and should be',df2.iloc[n,1])
        df2.iloc[n,2]=df2.iloc[n,1] #replace not assigned neighborhood with Borough
        print('Now ',df2.iloc[n,2],'is',df2.iloc[n,1])
        n=n+1

Before  Not assigned and should be Queen's Park
Now  Queen's Park is Queen's Park

In [27]:
df2.shape

(103, 3)